/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea/*
package-lock.json

.DS_Store
dist
tsbuild.wizard.json
.tmp-wizard
rahyafthi-dirfix-*.tgz
node_modules
